# Terraform
**/.terraform
*.tfvars
*.auto.tfvars
*.tfplan
*.tfstate
*.tfstate.backup
*.tfstate.lock.info

# Vagrant
**/.vagrant

# React App
**/node_modules
**/build
**/coverage
**/.pnp
*.pnp.js
*.DS_Store
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*